[submodule "images/teamcity"]
	path = images/teamcity
	url = https://github.com/nativecode-dev/teamcity-docker.git
[submodule "images/teamcity-agent"]
	path = images/teamcity-agent
	url = https://github.com/nativecode-dev/teamcity-agent-docker.git
